extends layout

block content
  h1= title
  p Welcome to #{title}

  br
  br
  a(href="https://bitbucket.org/Crixo79/red_bicicletas") Proyecto Creado Previamente en el Curso
  br
  br
  a(href="https://bitbucket.org/Crixo79/tarea-1-bicicletas") Proyecto Actual
  br
  br
  section
  .container
    #main_map
    // JS y MAP
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='/javascripts/map.js')

